* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial;
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
/* -------------------contactUs-------------------------- */
.contactUs {
	padding-top: 10px;
	text-align: center;
	padding-bottom: 40px;
	background-color: #181b26;
}
.contactUs .contact-info {
	padding: 20px;
	font-size: 20px;
}
.contactUs .contact-info h1 {
	color: white;
	margin: 20px 0;
}

.contactUs .contact-info h3 {
	color: orange;
	margin-bottom: 20px;
}
.form {
	margin: auto;
	color: white;
	margin-bottom: 30px;
}
.form p {
	color: #808080;
	font-size: 13px;
	text-align: center;
	width: 90%;
	margin: auto;
	margin-top: 5px;
}
.form h3 {
	margin: 20px;
	margin-top: 30px;
	font-size: 25px;
}
.form h3 a {
	color: white;
	white-space: nowrap;
}
.form form {
	max-width: 900px;
	width: 80%;
	position: relative;
	margin: auto;
	border: 1px solid white;
	border-radius: 10px;
}
.form form img {
	position: absolute;
	right: -60px;
	bottom: -100px;
	width: 250px;
}
.form input {
	margin: 20px;
	margin-top: 0;
}
.form button {
	background-color: #116062;
	border: none;
	width: 300px;
	height: 50px;
	margin: 20px;
	margin-bottom: 40px;
	border-radius: 40px;
	color: #FFF;
	font-size: 20px;
	position: relative;
	z-index: 5;
}
.form button:hover {
	outline: none;
	cursor: pointer;
	background-color: #2BEBA5;
	color: black;
}
.form a {
	text-decoration: none;
	color: black;
}
.form .comment {
	width: 300px;
	margin: 10px auto;
	padding: 15px 25px;
	border-radius: 30px;
	border: none;
	outline: none;
	margin-top: 0;
}
.form form a{
	color: orange;
	line-height: 50px;
}
/* -----------------map-------------------- */
.mapBlock{
	background-image: url('res/img13.jpg');
	background-size: cover;
	background-position: center;
}
.map {
	box-sizing: content-box;
	margin: auto;
	padding: 50px 0;
	width: 90%;
	max-width: 1200px;
	
}
.map h3 {
	font-size: 40px;
	text-transform: uppercase;
	color: #116062;
	margin-bottom: 50px;
}

/*----------------cars----------------------*/
.cars-background {
	background-image: url('res/img13.jpg');

}
.cars-block {
	max-width: 1200px; 
	margin: auto;
	padding: 30px 20px;
	
}
.cars-block h3 {
	margin-bottom: 30px;
	font-size: 28px;
	color: #116062;
	margin-left: 80px;
	text-transform: uppercase;
}
.cars {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.car {
	background-color: white;
	width: 32%;
	max-height: 400px;
	position: relative;
	margin-bottom: 30px;
	text-align: center;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 2px solid #181b26;
}
.car .textCars {
	font-size: 15px;
	bottom: 35px;
	font-family: 'Century Gothic', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	width: 100%;
	margin-bottom: 10px;
	text-transform: uppercase;
	position: absolute;
	text-align: center;
}
.car .textCars p {
	position: relative;
	display: inline-block;
	max-width: 280px;
	padding: 0 25px;
}
.car .textCars p::before {
	content: '';
	width: 15px;
	height: 2px;
	background-color: #181b26;
	position: absolute;
	top: 48%;
	left: 0px;
}
.car .textCars p::after {
	content: '';
	width: 15px;
	height: 2px;
	background-color: #181b26;
	position: absolute;
	top: 48%;
	right: 0px;
}
.car .image {
	overflow: hidden;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	padding: 30px;
}
.car img {
	width: 100%;
	min-height: 10%;
	transition: ease .5s ;
	margin-bottom: 20px;
	position: relative;
}
.car img:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
}
.car button {
	margin: 10px auto;
	width: 150px;
	height: 30px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
}

.carsList {
	position: absolute;
	background-color: white;
	left: 0;
	right: 0;
	top: 100%;
	z-index: 10;
	color: black;
	font-size: 15px;
	text-align: left;
	border-radius: 20px;
	transform: rotateX(90deg);
	-webkit-transform: rotateX(90deg);
	-ms-transform: rotateX(90deg);
	transform-origin: center top;
	transition: all .5s ease;
	box-shadow: 0px 5px 20px 0px;
}
.carsList ul {
	list-style-type: none;
	padding: 20px;
}
.activeCars {
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
}

/* -------------------workTypes---------------------*/
.workTypesBlock {
	background-color: #181b26;
}
.workTypes {
	max-width: 1200px;
	margin: auto;
	position: relative;
	margin-bottom: 25px;
}
.workTypes-contact {
	position: absolute;
	left: 40px;
	top: 80px;
}
.workTypes-contact div {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid grey;
	transition: .2s;
	background-position: center;
	background-size: 50%;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}
.workTypes-contact  div:hover {
	cursor: pointer;
	background-color: grey;
	border: 1px solid rgb(15, 13, 13);
}
.contact-text {
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: grey;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	position: absolute;
	top: 200px;
	left: -60px;
}
.services {
    padding: 20px;
    padding-bottom: 65px;
    margin-left: 150px;
    color: white;
}
.services-list h1 {
	font-size: 50px;
	margin-bottom: 10px;
	color: #116062;
}
.services-list h3 {
	font-size: 25px;
	max-width: 300px;
	font-weight: normal;
	position: relative;
	margin-bottom: 10px;
	margin-left: 40px;
}
.services-list h3::before{
	content: '';
	width: 30px;
	height: 3px;
	background-color: white;
	position: absolute;
	top: 50%;
	left: -40px;
}
.services-list ul {
	display: inline-block;
	font-size: 20px;
	/* list-style-position: inside; */
	list-style-image: url('res/list.png');
	padding-right: 10%;
	padding-left: 60px;
}
.services-list ul li {
	position: relative;
	padding: 5px;
	color: #116062;
}
.services-list ul span {
	color: orange;
}

/* -------------------advantages-------------------- */
main .advantagesBlock {
	background-image: url(res/img13.jpg);
}
main .advantages {
	max-width: 1200px;
	margin: auto;
	padding: 50px 20px;
}
main .advantages h1 {
	font-size: 30px;
	color: #116062;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-left: 70px;
}
main .advantages h2 {
	margin-bottom: 50px;
	padding: 0 60px;
	position: relative;
	display: inline-block;
	font-weight: normal;
	text-transform: uppercase;
	margin-left: 70px;
} 
main .advantages h2::before, main .advantages h2::after{
	content: '';
	width: 40px;
	height: 2px;
	background-color: black;
	position: absolute;
	top: 45%;
}
main .advantages h2::before {
	left: 0;
}
main .advantages h2::after {
	right: 0;
}
main .advantages .advice {
	float: right;
	font-size: 12px;
	color: orange;
	cursor: pointer;
}
main .icons {
	color: black;
	width: 100%;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	flex-wrap: wrap;
}
main .icon {
	width: 30%;
	margin-bottom: 20px;
}
main .icon h3{
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
main .icon  {
	text-align: justify;
}
main .icon .img {
	margin: auto;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-image: url(res/advantageBack.jpg);
	overflow: hidden;
	padding: 40px;
}
main .icon .img img {
	width: 100%;
}


/* -----------------photoGalery----------------------- */
.photoGalery {
	background-color: #181b26;
	background-position: center;
	background-size: cover;
}
.galery {
	padding: 20px 100px;
	padding-bottom: 65px;
	max-width: 1200px;
	margin: auto;
	position: relative;
}
.galery h2 {
	font-size: 40px;
	margin-bottom: 30px;
	color: white;
}
.galery .slide {
	display: none;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}
.galery .slide.active {
	display: block;
}
.galery .slide img{
	width: 100%;
	vertical-align: middle;
}
.galery .slide p {
	position: absolute;
	top: 20px;
	left: 20px;
	color: white;
	font-size: 14px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.galery .changeSlide {
	cursor: pointer;
 	position: absolute;
  	top: 43%;
  	width: auto;
  	padding: 16px;
  	color: white;
  	font-weight: bold;
  	font-size: 20px;
  	border-radius: 0 5px 5px 0;
  	user-select: none;
	  -webkit-user-select: none;
	  -ms-user-select: none;
}
#nextSlide {
	right: 100px;
	border-radius: 5px 0 0 5px;
}
#nextSlide:hover, #prevSlide:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
.galery .preview {
	display: flex;
	justify-content: space-between;
}
.galery .preview .prevItem {
	width: 10%;
	border-radius: 10px;
	overflow: hidden;
	opacity: 70%;
	cursor: pointer;
}
.galery .preview .prevItem.active {
	opacity: 100%;

}
.galery .preview img {
	width: 100%;
	vertical-align: middle;
}


/* --------------footer-------------------- */
footer {
	min-height: 80px;
	background-color: #181b26;
	padding: 30px;
	padding-left: 50px;
}
.footer {
	max-width: 1200px;
	display: flex;
	margin: auto;
}
.footer div {
	padding-right: 30px;
	color: #808080;
}
.footer div a {
	color: #808080;
	text-decoration: none;
}

#topNubex {
	position: fixed;
	right: 45px;
	bottom: 45px;
	z-index: 10;
	cursor: pointer;
	color: grey;
   }